body {
  background-color: #f8f9fa;
  font-family: "Titillium Web";
  font-size: 16px;
  letter-spacing: 1.1px;
  margin: 0;
}

nav {
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.4);
}

.search::placeholder {
  letter-spacing: 2.25px;
}

.my-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.my-card_signup {
  width: 36rem;
}

.my-card_login {
  width: 30rem;
}

a.my_card,
a.my_card:hover {
  color: inherit;
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}

.my_brand {
  letter-spacing: 2.2px;
  font-size: 2rem;
}

.my-card_title {
  font-family: Amaranth;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 2.5rem;
}

.my-card_subtitle {
  font-size: 1rem;
  letter-spacing: 1.5px;
}

.my-form_input {
  height: 3.25rem;
}

.my-form_button {
  height: 3.25rem;
}

.my-image_container {
  height: 70vh;
  background-image: url("/images/watch.jpg");
  background-position: center center;
  background-size: cover;
}

.my_image {
  position: relative;
  bottom: 20rem;
}

.title1 {
  font-family: Amaranth;
}

.see_all {
  font-size: 1.2rem;
  text-decoration: underline;
}

.checked {
  color: orange;
}

.fas {
  font-size: 0.9rem;
}

.bg-dark {
  color: white;
}

.footer_title {
}

.my_icon {
  font-size: 1.6rem;
}

.user_review {
  font-size: 1.5rem;
  font-weight: bold;
}
.user_review_time {
  font-size: 0.8rem;
}
